# Environment variables
.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment folders
venv/
.env/

# IDE-specific settings (optional)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

KXMARMAD_trades.csv
KXMARMAD_trades.xlsx

# OS specific files
.DS_Store
Thumbs.db